@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

/* :root {
  CSS HEX
  --san-juan: #375075;
  --mirage-opaque: #151922;
  --mirage-transparent: #15192281;
  --pink-swan: #c5b7bc;
  --lynch: #6b7ca3;
  --cloud-burst: #21365582;
  --bali-hai: #859cb1;
  --kabul: #604a44;
  --cape-cod: #393c3b;
  --goblin: #39792f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


@layer components{
    body {
       @apply min-w-full min-h-screen bg-no-repeat  ; 
       background: url("/public/weadex-bg.jpg"); 
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
      font-family: "Roboto", serif;
    } 
  }